%h1 Heartlab

#navigation
  %ul
    %li= link_to "Chapter 1", "#chapter1"
    %li= link_to "Chapter 2", "#chapter2"
    %li= link_to "Chapter 3", "#chapter3"

#chapter1.chapter
  %h1 Chapter 1

  %h2 What does your heart sound like?

  %h3 Use the form below to tweet what your heart sounds like.

  %form#tweet_form
    %textarea#tweet_text
    %p
      %button#tweet_button
        Submit

#chapter2.chapter
  %h1 Chapter 2
  %h3 Show Information

#chapter3.chapter
  %h1 Chapter 3
  %h3 Credential Statement
