#content

  #title.column.grid_6
    %h2.subtitle heartlab presents:
    %h2.title Re-surface
  #touchstones
    %img{:src => "/images/touchstones_logo.gif"}
  #navigation
    %h2 Chapters
    %ul
      %li
        %h3
          %a{:href => "#chapter1"} Chapter One/ <br />Experience
        .divider
        %p experience <br /> heartlab's latest creation
      %li
        %h3
          %a{:href => "#chapter2"} Chapter Two <br />Show Information
        .divider
        %p show details and Artist Statement Anita Levesque & Bradley Smith
      %li
        %h3
          %a{:href => "#chapter3"} Chapter Three/ <br />Curatorial Statement
        .divider
        %p Curatorial statement by Touchstones Nelson co-curator Jessica Demers

  #chapter0.chapter

    #stitched_book_1
    .tweet
      %blockquote
      %cite

    .tweet.right
      %blockquote
      %cite

    .tweet
      %blockquote
      %cite

    #parallax
      #bluestars.parallax_elem
      #clipped_letters.parallax_elem
      #clipped_stars.parallax_elem
      #stitched_book_2.parallax_elem

  #chapter1.chapter
    #typewriter
      %h1 What does your heart sound like?

      %h2 Use the form below to tweet what your heart sounds like. 

      #tweet_box

      .clear

  #chapter2.chapter
    %h1 Chapter 2
    %h3 Show Information
    #chapter_2_image_holder
      %img{:src => "/images/chapter_2_image.jpg",:id => "chapter_2_image"}
    .left_side.column.grid_6
      %h2.subtitle heartlab presents:
      %h2.title Re-surface
      :markdown 
        *Exhibition Dates*  
        August 27 to November 13, 2011  
        Gallery B  
        Touchstones Nelson:  
        Museum of Art and History  
        502 Vernon St., Nelson BC  

        *HOURS OF OPERATION*  
        Visit Touchstones Nelson's website  
        for current hours of operation

        Admission Fees  
        Members: free  
        Adult: $8.00  
        Senior (over 60): $6.00  
        Student: $6.00  
        Family: $22.00  
        Youth (7–18): $4.00  
        Child: free  

        Admission is by donation  
        Thursdays 5 to 8 pm.
          

    .right_side.column.grid_9
      :markdown
        *Artist Statement*  

        Like making perfume, we strive to distill our sensorial surroundings into beautifully abstracted landscapes. Working collaboratively, we respond, challenge, and build off of each other's ideas. Process-based, our work is created by being open and in honest relationship with our surroundings, our materials, and with each other. Moving towards the completion of an installation one decision at a time, we grapple with the question: What is the essence of this space, landscape, word, moment, etc?  This openness and genuine exploration of the moment lends itself to playfully childlike environments that the viewer enters and experiences - thus becoming a part of the moment and the installation itself. 
        
        *Synopsis* 

        Drawing on work originally created in direct response to the local geography/ecosystem of Calgary and area, Re-surface is a 3-Dimensional drawing/diorama that playfully represents the essence of words as sound and image as space by drawing upon the beauty of the Kootenay valley.

        Heartlab is a collaborative effort fusing the talents and vision of two artists - Anita Levesque and Bradley Smith. Combining text and visual imagery, the couple explore the dynamics between two distinct forms of communication, sometimes bridging the gap of both worlds, and in other instances creating a tension between the two. Heartlab places an emphasis on process and time-based projects. Utilizing various drawing materials, manual typewriter and block printing tools, the duo create multi-sensory, installation narratives reminiscent of illustrated story books.


  #chapter3.chapter
    %h1 Chapter Three
    %h3 Curatorial Statement
    #chapter3_image{:style => "text-align: center"}
      %img{:src => "/images/chapter_3_image.gif"}
    .statements
      #statement_1.column.grid_6
        %p heartlab is an ongoing collaborative project between artists Anita Levesque and Bradley Smith. Effectively a 'relationship laboratory', heartlab explores the connections between the visual arts and writing, as well as the dynamics between the two artists, who have been a couple for over 15 years.  As the two respond to one another’s creative vision, the essence of words and sound are translated into form and image and vice versa, inspiring a kind of synesthesia of the senses.
      .clear
      #statement_2.column.grid_7
        %p The most prominent repeating element in Re-surface is the lower case "a". Drawn, stamped and brought into radiating sculptural forms, it is the leading voice in their typographic landscape. The first letter in the alphabet, and one of the first utterances an infant makes, the sound “a” is perhaps the most simple and universal of human expressions.  This points to the core of heartlab's work: to express the initial impulse behind communication itself. 
      .clear
      #statement_3.column.grid_4
        %p heartlab's elaborate dioramas are also rooted in landscape, exploring the place-based nature of human experience and expression. Language emerges from their constructed environment and is shaped by it. The playful, colourful landscapes are reminiscent of children's pop-up story books, and as the viewer moves in the space, they become a character in the narrative.
      .clear
      #statement_4.column.grid_7
        %p An evolution of previous installations (Noticed Growth, Oxygen Art Centre, Nelson, 2009, and Resonance, Stride Art Gallery, Calgary, 2010), Re-surface reveals Smith and Levesque's increasing comfort with their collaborative relationship. As they refine their sensitivity and responsiveness, their individually created elements begin to mimic one another. In the past, Smith ruled the domain of text, while Levesque was in charge of drawing. Now the lines have blurred as they share their artistic territory, even teaching one another how to work in the other's style. Like the theatre game Mirror, in which partners take turns leading movements, heartlab's two voices move from discord to harmony as they seek a unified voice. 
        %p Levesque and Smith refer to the work itself as a third element in their collaboration, as it defines their parameters and provides a feedback system for their creative impulses. It seems fitting that at this time the couple is expecting a child, bringing a third voice to the collaborative work of heartlab. 
        %P Jessica Demers
      .clear
    .clear
              

#origami_lines

#footer
  %p#copyright
    ©2011-2012 heartlab. All Rights Reserved. 
  %p#credits
    Photography: Jeremy Addington


